<style>
h3
{
  color: #008080;
}
</style>


<% if user_signed_in? %>

<h3><p><i>You have successfully registered in our Ruby Benefit Fund.</i></p></h3>

<% else %>
 <table>  
<tr>
  <td><%= link_to "Sign in", new_user_session_path, class: "btn btn-primary", :method => :get %></td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary", :method => :get%></td>
  </tr>
  </table>

<% end %>