<style>
h3
{
  color: #008080;
  font-style:italic;  
}
</style>
<% if user_signed_in? %>
<h3>Welcome <%= current_user.username %> you have successfully signed in</h3>
<% else %>
<style>
#header_id {display: none}
</style>
<section id="flashMsg">
  <div class="alert alert-alert">You must sign in/sign up to access this page</div>
</section>

<h1> Ruby Benefit Fund</h1>
<h3> Existing users can Sign in, New users do Sign up. </h3>
 <table>  
<tr>
  <td><%= link_to "Sign in", new_user_session_path, class: "btn btn-primary", :method => :get %></td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary", :method => :get%></td>
  </tr>
  </table>
<% end %>

