
<header class="navbar navbar-fixed-top navbar-inverse">  
  <div class="navbar-inner">
    <div align = "center">
      <strong>Ruby Benefit Fund</strong> 
    </div>
    <div class="container">
      <ul class="nav">
        <% if user_signed_in? %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Deposits
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <a href="/savingsdeposits" >Savings Deposit</a>
        </li>
        </ul>
        <li class="">          
          <a href="/customers" >Customers</a>
        </li>  
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shares
          <b class="caret"></b>
        </a>
          <ul class="dropdown-menu">
            </li> <a href="/folios" >Folios</a>
          </li>
          </ul>
        </ul>           

      <ul class="nav pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"> </i> <%= current_user.Role %>
          <b class="caret"></b>
        </a>
          <ul class="dropdown-menu">            
            </li> <%= link_to "Profile", home_show_path %>            
          </li>
          <li class="divider"></li>          
            </li> <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
          </li>
          </ul>
        </ul>    
        <% end %>        
    </div>
  </div>
</header>
</br>